body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: white;
}

header {
    background-color: purple;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    background-color: black;
    margin: 0;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: left;
}

footer {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 10px;
}


.event {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border-left: 5px solid #3a7d44;
    border-right: 5px solid #3a7d44;
}

        textarea {
    width: 100%;
    height: 100px;
}